---
import Hero from '@/sections/hero.astro';
import Step1 from '@/sections/step-1.astro';
import Step2 from '@/sections/step-2.astro';
import Step3 from '@/sections/step-3.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div slot='scroller'>
    <Hero />
    <Step1 />
    <Step2 />
    <Step3 />
  </div>
</Layout>
