---
import Hero from '@/sections/hero.astro';
import UploadImage from '@/sections/upload-image.astro';
import SelectYourDesign from '@/sections/select-your-design.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div slot='scroller'>
    <Hero />
    <UploadImage />
    <SelectYourDesign />
  </div>
</Layout>
