---
import { ArrowDownLeft } from 'lucide-react';
import Ping from './Ping';

interface Props {
  heading: string;
  description: string;
  link: string;
}

const { heading, description, link } = Astro.props;
---

<div class='group flex h-fit w-full items-center'>
  <div
    class='bg-gray-to-black flex min-w-[396px] items-start overflow-hidden rounded-[8px] border border-[#333] p-4 transition-all duration-300 ease-out group-hover:min-w-[276px] group-hover:border-[#d2dfff7a]'
  >
    <Ping
      client:load
      size={14}
      scaleFactor={20}
      className='mt-[5px] mr-4'
    />

    <div class='flex-1 text-white'>
      <h3 class='mb-1 text-base font-semibold'>
        {heading}
      </h3>
      <p class='m-0 text-sm leading-[1.2] text-balance text-[#ccc]'>
        {description}
      </p>
    </div>
  </div>

  <a
    class='pointer-events-none ml-[18px] flex size-[102px] shrink-0 translate-x-[-50px] items-center justify-center rounded-full border border-[#d2dfff7a] text-white opacity-0 transition-all duration-200 ease-in-out group-hover:pointer-events-auto group-hover:translate-x-0 group-hover:opacity-100 hover:bg-[#444]'
    href={link}
  >
    <ArrowDownLeft className='h-10 w-10 text-[#bdbdbd]' />
  </a>
</div>
