---
import Ping from '@/components/Ping';

const { title, subtitle, description } = Astro.props;
---

<section class='mt-80 grid snap-center grid-cols-2 place-items-center pb-20'>
  <div>
    <div
      class='font-bricolage title-text flex space-x-2 text-3xl font-bold tracking-wide uppercase'
    >
      <Ping />

      <span>{subtitle}</span>
    </div>
    <h1
      class='font-bricolage title-text w-full text-8xl leading-[1] font-bold text-balance 2xl:text-9xl'
      set:html={title}
    />

    <p class='mt-4 w-4/5 text-balance text-gray-400'>{description}</p>

    <slot name='cta' />
  </div>

  <div class='flex w-full items-center justify-center'>
    <slot />
  </div>
</section>
