---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import { FancyButton } from '@/components/ui/fancy-button';
import { cn } from '@/lib/utils';
import SectionLayout from './SectionLayout.astro';
---

<SectionLayout
  title='Upload Your <br /> Image'
  subtitle='Step 1'
  description='Click on the upload button and select an image of yourself to try on different pieces of apparel and see which one fits you the best!'
>
  <Card className={cn('bg-gray-to-black w-[380px] text-center')}>
    <CardHeader>
      <CardTitle className='text-xl'>Upload Image</CardTitle>
      <CardDescription className='mx-auto w-4/5 text-balance'>
        Take a picture of yourself standing straight and upload it here
      </CardDescription>
    </CardHeader>

    <CardContent
      className='my-4 flex flex-col items-center justify-center gap-y-1'
    >
      <FancyButton
        duration={0.5}
        client:idle
        >Upload Here</FancyButton
      >

      <span class='text-sm text-balance text-gray-400'>
        PNG, JPG (&lt;2MB)
      </span>
    </CardContent>

    <CardFooter className='flex w-full justify-center'>
      <span class='text-sm text-balance text-gray-400'>
        Don't want to? <a
          href='/catalog'
          class='link'
        >
          Skip
        </a> to the catalog
      </span>
    </CardFooter>
  </Card>
</SectionLayout>
