---
import { Button } from '@/components/ui/button';
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import { FancyButton } from '@/components/ui/fancy-button';
import { cn } from '@/lib/utils';
---

<section class='mt-80 pb-20 flex flex-col items-center justify-center space-y-8'>
  <h1
    class='font-bricolage w-full text-center text-7xl font-bold text-[#eaeaea] uppercase'
  >
    Upload Your Image
  </h1>

  <Card className={cn('w-[380px] text-center')}>
    <CardHeader>
      <CardTitle>Upload Image</CardTitle>
      <CardDescription className='mx-auto w-4/5 text-balance'>
        Take a picture of yourself standing straight and upload it here
      </CardDescription>
    </CardHeader>

    <CardFooter className='flex w-full justify-center'>
      <FancyButton client:idle> Upload Here </FancyButton>
    </CardFooter>
  </Card>
</section>
