---
import { Navbar } from '@/components/Navbar';
import '../styles/global.css';

const navItems = [
  { name: 'Home', link: '/' },
  { name: 'Catalog', link: '/catalog' },
  { name: 'Cart', link: '/cart' },
];
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>V FIT</title>
  </head>

  <body class='dark bg-[#010101]'>
    <Navbar
      client:idle
      navItems={navItems}
    />

    <main
      class='container mx-auto h-screen snap-y snap-mandatory overflow-x-hidden overflow-y-scroll'
    >
      <slot name='scroller' />
    </main>
  </body>
</html>
