---
import "../styles/global.css";
---

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta
            name='viewport'
            content='width=device-width'
        />
        <link
            rel='icon'
            type='image/svg+xml'
            href='/favicon.svg'
        />
        <meta
            name='generator'
            content={Astro.generator}
        />
        <title>V FIT</title>
    </head>

    <body class="bg-[#010101]">
        <slot />
    </body>
</html>
